/* From Uiverse.io by narmesh_sah */ 
.card {
  position: relative;
  width: 400px;
  height: 160px;
  border-radius: 20Q;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.music-bar {
  position: absolute;
  width: 90%;
  height: 50px;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 60Q;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(149, 0, 255, 0.25);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 15Q;
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
}
.music::after {
  content: "Uiverse Anthem";
  position: absolute;
  left: 45px;
  width: 130px;
  color: #fff;
  font-weight: 600;
}
.music::before {
  content: "NKS";
  position: absolute;
  bottom: 0;
  left: 45px;
  width: 125px;
  color: #ffffffce;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.music-control {
  position: absolute;
  right: 0;
  border-radius: 30Q;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.music-control svg {
  cursor: pointer;
}
.music-control svg:active {
  transform: scale(0.9);
}

.bottom-bar {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav-bar {
  position: absolute;
  left: 20px;
  width: 70%;
  height: 60px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 60Q;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 6px;
  border-radius: 60Q;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.nav-icons:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.nav-icons svg {
  transition: all 0.1s ease-in-out;
}
.nav-icons:hover svg {
  transform: translateY(-2px);
}
.nav-icons svg:active {
  transform: scale(0.9);
}

.search-bar {
  position: absolute;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
}
.search-bar:hover {
  transform: translateY(-2px);
}
.search-bar svg {
  transition: all 0.1s ease-in-out;
  transition-delay: 0.1s;
}
.search-bar:hover svg {
  transform: translateY(-2px);
}
.search-bar svg:active {
  transform: scale(0.9);
}

.shapes {
  position: absolute;
  width: 600px;
  height: 400px;
  z-index: -1;
}

.triangle {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
  animation: move 12s linear infinite;
}

.circle {
  position: absolute;
  top: 30%;
  right: 30%;
  width: 80px;
  height: 80px;
  background-color: #c436eb;
  border-radius: 50%;
  animation: move 12s linear infinite;
  animation-delay: 2s;
}

.square {
  position: absolute;
  bottom: 40%;
  right: 60%;
  width: 50px;
  height: 50px;
  background-color: #def92e;
  border-radius: 12Q;
  transform: rotate(45deg);
  animation: move 12s alternate-reverse infinite;
  animation-delay: 6s;
}

@keyframes move {
  from,
  to {
    transform: rotate(-45deg);
  }
  25%,
  75% {
    transform: translateX(30px) translateY(10px) rotate(30deg);
  }
  50% {
    transform: translateX(60px) translateY(20px);
  }
}
